streamlit
Flask

groq
python-dotenv

PyMuPDF
faiss-cpu

langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters

sentence-transformers

numpy
scipy
plotly

mediapipe
opencv-python
opencv-contrib-python

streamlit-webrtc
av

sounddevice
faster-whisper